{
  "check-coverage": false,
  "per-file": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "exclude": [
    "**/test/**",
    "**/index.ts",
    "**/*.spec.ts"
  ],
  "reporter": [
    "lcovonly",
    "text-summary"
  ]
}
